// Custom styles
@import "variables";



html, body {
	height: 100%;
}



.btn {
	&:active, &:focus {
		box-shadow: none !important;
	}
}



.form-control {
	&:focus {
		box-shadow: none !important;
	}
}



.btn-group-justified {
	display: table;
	width: 100%;
	table-layout: fixed;
	border-collapse: separate;



	.btn, .btn-group {
		float: none;
		display: table-cell;
		width: 1%;



		.btn {
			width: 100%;
		}



		.dropdown-menu {
			left: auto;
		}
	}
}



.popup {
	width: 320px;
	overflow: hidden;



	.list-group {
		.list-group-item {
			font-size: 14px;
			cursor: pointer;



			& > .name {
				display: block;



				& > small {
					line-height: $line-height-base * 14px;
				}
			}
		}



		img {
			width: 24px;
			height: 24px;
		}
	}
}



.tabs-list {
	padding: $table-cell-padding;



	.tabs-list-tab {
		border-bottom: $table-border-width $table-border-color solid;
		font-size: 14px;



		&:first-child {
			border-top: $table-border-width $table-border-color solid;
		}



		&.gu-transit {
			background-color: $gray-100;
		}
	}
}



.gu-mirror {
	position: fixed !important;
	margin: 0 !important;
	z-index: 9999 !important;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
}



.gu-hide {
	display: none !important;
}



.gu-unselectable {
	-webkit-user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	user-select: none !important;
}



.gu-transit {
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
}
